$font-main: "Asap", sans-serif;
$font-second: "Josefin Slab", serif;
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: rgb(11, 7, 231);
  font-family: $font-second;
  font-weight: 500;
}
body {
  background-image: linear-gradient(
    to right bottom,
    rgba(#a8ff78, 0.5),
    rgba(#47fac4, 0.5)
  );
}

.header {
  font-size: 6rem;
  margin: 3rem auto;
  text-align: center;
}
.top-rated {
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 5rem;
}
.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  margin: 1rem auto;
  padding: 3rem auto;
  align-items: center;
}
.book-card {
  height: 65vh;
  width: 20vw;
  margin: 0 auto;
  position: relative;
  margin: 2rem auto;
  border: rgb(0, 174, 255) solid 1rem;
}
.book-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-image: url("https://image.tmdb.org/t/p/w300/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg"); */
  background-position: center;
  z-index: 3;
  transition: all 0.3s;
}
.cover {
  width: 100%;
  height: 100%;
}
.book-card-back {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
.book-card-header {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 1rem auto;
  padding: 0.5rem;

  text-align: center;
}
.description-box,
.author-box {
  text-align: center;
}

.book-genres {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.book-genre {
  list-style: none;
}
.description {
  font-size: 2rem;
  padding: 0.5rem;
}
.author-book {
  font-size: 2rem;
}

.book-card:hover .book-card-front {
  z-index: 1;
}
.book-card:hover .book-card-back {
  z-index: 3;
  display: flex;
}

.genres {
  margin: 3rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn {
  background-color: #d0f5ff;
  color: rgb(11, 7, 231);
  border: none;
  border-radius: 1rem;
  box-shadow: rgb(0, 223, 223) 0 0 0 0.5rem;
  font-size: 3.5rem;
  padding: 1rem;
  font-family: $font-second;
  font-weight: bold;
}
.btn:focus {
  box-shadow: rgb(0, 174, 255) 0 0 0 0.5rem;
  background-color: #9ae9ff;
}

.section-fiction,
.section-nonfiction,
.section-ya,
.section-children,
.section-manga {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  margin: 1rem auto;
  padding: 3rem auto;
  align-items: center;
}

.hide {
  display: none;
}
